#events-list {
}

.events-list-table-header-create-event {
  width: 100%;
}

.events-list-table-header-id {
  width: 10%;
}

.events-list-table-header-title {
  width: 10%;
}

.events-list-table-header-description {
  width: 20%;
}

.events-list-table-header-category {
  width: 20%;
}

.events-list-table-header-coordinate {
  width: 10%;
}

.events-list-table-header-start {
  width: 10%;
}

.events-list-table-header-stop {
  width: 10%;
}
