.leaflet-container {
  width: 100%;
  height: 100%;
}

.item {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: lightblue;
  justify-content: left;
  align-content: center;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
}

.item-categoryBox {
  display: flex;
  overflow-x: auto;
}

.item-categoryBox > .item-category {
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 5px;
  display: grid;
  justify-content: left;
  align-content: center;
  font-size: 0.9em;
  color: lightslategray;
}

.active {
  background-color: lightgreen;
}

.item-info {
  display: flex;
}

.item-info > .item-photo {
  height: 30px;
  width: 30px;
  margin: 5px;
  flex: 1;
}

.inline {
  vertical-align: middle;
  margin: 10px 10px 10px;
}

.item-info > .item-title {
  flex: 8;
}

.item-info > .item-button {
  justify-content: flex-end;
  flex: 1;
}

.categoryBox {
  padding: 10px;
  display: flex;
  overflow-x: auto;
}

.categoryLabel {
  padding-top: 2%;
  padding-left: 1%;
}

.categoryBox > .categoryItem {
  font-size: 12px;
  background-color: lightblue;
  padding: 10px 20px 10px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.categoryBox > .active {
  background-color: lightgreen;
}

.spotBoxWrapper {
  padding-top: 2%;
  padding-left: 2%;
}

.spotBox {
  display: flex;
}

.spotBox > .spotSelectSection {
  flex: 18;
  padding-right: 1%;
}

.spotBox > .spotButtonSection {
  flex: 2;
}

.spotButtonSection > .spotButton {
  height: 35px;
}

.searchBox {
  padding: 10px;
}

.searchBox > .searchBoxInputSection {
  display: flex;
}

.searchBoxInputSection > .searchInput {
  flex: 16;
  height: 25px;
  margin-right: 1%;
}

.searchBoxInputSection > .searchButton {
  flex: 2;
  height: 25px;
}

.searchBoxInputSection > .clearButton {
  flex: 2;
  height: 25px;
}

.locationBox {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.locationBox > .distanceInput {
  display: flex;
  height: 25px;
  margin-right: 1%;
  vertical-align: middle;
}

.distanceInput > .locationInfo {
  flex: 4;
}

.distanceInput > .distanceInput {
  flex: 8;
}

.distanceInput > .locationInclude {
  padding-left: 3%;
  height: 25px;
  vertical-align: middle;
}

.distanceInput > .activeOnlyLabel {
  flex: 4;
}

.distanceInput > .activeOnlySwitch {
  flex: 17;
}


.login-hint {
  color: darkred;
  background-color: grey;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
